
$c4: rgb(1, 1, 22);
$c2: #29c7c2;
:root {
  --c1: #d8dde8;
  --c3: #090333;
  --c1_op: rgba(var(--c1), 0.5);
  --c3_op: rgba(var(--c3), 0.3);
}

[data-theme="dark"] {
  --c1: #090333;
  --c3: #d8dde8;
  --c1_op: rgba(var(--c1), 0.5);
  --c3_op: rgba(var(--c3), 0.3);
}

$c2_op: rgba($c2, 0.5);

$c4_op: rgba($c4, 0.5);

$bp_xxlg : 1350px;
$bp_xlg : 1110px;
$bp_lg : 940px;
$bp_md : 750px;
$bp_sm : 550px;
$bp_xsm : 370px;

$mw : 1110px;

$b_r_xsm : 8px;
$b_r_sm : 12px;
$b_r_md : 28px;
$br : 800px;


$fs_xsm: clamp(10px, 2.3vw, 15px);
$fs_sm: clamp(16px, 2.8vw, 18px);
$fs_sml: clamp(18px, 2.9vw, 22px);
$fs_md: clamp(20px, 3.1vw, 28px);
$fs_lg: clamp(24px, 3.5vw, 42px);
$fs_xlg: clamp(35px, 4vw, 55px);
$fs_xxlg: clamp(48px, 7vw, 80px);
$fs_xxxlg: clamp(55px, 8vw, 99px);

.btn-1, .btn-2, .btn-3{
    padding: .8rem 2.6rem;
    font-size: $fs_sm;
    border-radius: 12px;
    width: auto;
    text-align: center;
    font-weight: 500;
  }
  .btn-1{
    background-color: $c1;
    color: $c3;
    font-weight: 600;
    box-shadow: 0px -4px 20px -3px rgb(12, 0, 29);
  }
  .btn-2{
    text-shadow: -1px 2px 7px rgba($c3, .8);
    box-shadow: 0 0 24px -4px $c3;
    background-color: $c2;
    color: $c1;
  }
  .btn-3{
    text-shadow: -1px 2px 7px rgba($c3, .3);
    box-shadow: 0 -4px 18px -4px $c3;
    background-color: $c3;
    color: $c1;
  }
.br{ //button rounded
  border-radius: 200px;
}

//modificatori testo / parole
span.c2{
  color: $c2;
  font-weight: 900;
  font-size: $fs_xxxlg;
  text-shadow: 0 0 10px $c2_op;
}
span.pack{
  font-size: $fs_xlg;
  font-style: italic;
  color: $c2;
  text-shadow: 0 0 10px $c2_op;
  font-family: "Caveat", cursive;
}
span.strg{
  font-weight: 900;
}

p.text{
  text-align: center;
  padding:  5svh 3rem;
  font-size: $fs_md;
  font-weight: 300;
}

//pannelli
$gap:1.2rem;
$gap_p_in: 1.8rem;
.panel{
  $c_op : rgba(165, 175, 196, 0.864);
  box-shadow: -5px 5px rgba($c1_op, .3),  -7px 0px 15px rgba(0, 0, 0, 0.516) ;
  //background: linear-gradient( 45deg,  $c1_op 10%, $c_op 22%, $c1_op 50%, $c_op 63%, $c1_op 86%  );

  width: 100%;
  text-align: left;
  gap: $gap_p_in;
  justify-content: flex-start;
  padding: 1.2rem 1.2rem 1.2rem 2.2rem;
  border-radius: $b_r_md;
  .top{
    width: 100%;
    display: flex;
    gap: $gap_p_in;
    justify-content: space-between;
    align-items: flex-start;
    h5{
      font-weight: 400;
      font-size: $fs_md;
      
    }
  }
  p{
    font-size: $fs_sm;
  }
}
///**MIXIN**///
@mixin dfc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin dfa {
  display: flex;
  align-items: center;
}

@mixin dfj {
  display: flex;
  justify-content: center;
}
@mixin mmw {
  margin: 20vh auto 20vh;
  max-width: $mw;
  padding: 2rem;
}


//uiverse checkbox
.ui-check {
  cursor: pointer;
  scale: .6;
}

.ui-check input {
display: none;
}

.ui-check svg {
overflow: visible;
}

.path {
fill: none;
stroke: $c3;
stroke-width: 6;
stroke-linecap: round;
stroke-linejoin: round;
transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
stroke-dasharray: 241 9999999;
stroke-dashoffset: 0;
}

.ui-check input:checked ~ svg .path {
stroke-dasharray: 70.5096664428711 9999999;
stroke-dashoffset: -262.2723388671875;
}///---

